    @media (max-width: 1199px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .navbar-logo a {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .carousel-inners {
        min-height: auto;
    }
}
    /*  */